body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h5 {
  font-weight: 800;
  font-size: 20px;
}
h6 {
  font-weight: 800;
  font-size: 16px;
}
button {
  cursor: pointer;
}
.blue {
  color: #007bff;
}
.navigation {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  /*box-shadow: 0px 1px 34px 3px rgba(0,0,0,.1);*/
}
.site-title {
  font-family: 'Rozha One', serif;
  font-size: 42px;
  letter-spacing: -.05em;
  line-height: 83px;
  border-bottom: 1px solid #eee;
}
.create-post {
  position: relative;
  float: right;
  right: 0;
  text-align: right;
  margin: 9px 0px;
}
.btn {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn-primary {
  background-color: #0275d8;
  font-size: 16px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.posts-categories {
  float:left;
  padding: 8px 0;
}
.category-box {
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom:1px solid #eee;
}
.category-title {
  float: left;
  font-weight: 800;
  font-size: 20px;
}
.posts-sort {
  float:right;
}
.posts-sort select {
  padding-left: 0px;
  margin-left: 5px;
  text-align: right;
  padding: 5px 2px;
  border-radius: 2px;
}
.posts-list {
  list-style:none;
  padding: 0;
}
.posts-list li {
  margin: 10px 0;
}
.card {

}
.card-top {
  position: absolute;
  width: 100%;
}
.card-edit {
  top: 0;
  right: 0;
  text-align: right;
  padding:5px;
}
.card-delete {
  top: 20px;
  right: 0;
  padding:5px;
  text-align: right;
}
.card-top button {
  border:0;
  border-radius: 3px;
}
.card-top .card-edit button {

}
.card-img-top {
  background-color: #80bdff;
  height: 180px;
  text-align: center;
  line-height: 180px;
  background: repeating-linear-gradient(
    45deg,
    #80bdff,
    #80bdff 10px,
    #5ba9ff 10px,
    #5ba9ff 20px
  );
}
.score {
  float:right;
}
.post-title {
  font-weight: 800;
  font-size: 20px;
}
.post-image {
  background-color: #80bdff;
  height: 240px;
  text-align: center;
  line-height: 180px;
  margin-top: 10px;
  background: repeating-linear-gradient(
    45deg,
    #80bdff,
    #80bdff 10px,
    #5ba9ff 10px,
    #5ba9ff 20px
  );
}
.post-details {
  border-bottom: 1px solid #eee;
  border-radius:2px;
  padding:10px;
  margin:5px 0;
}
.post-score {
  position:absolute;
  right:0;
  margin-right: 20px;
  top:0;
}
.comment-title {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  padding: 1.25rem 1.25rem;
  margin-top:10px;
  position: relative;
}
.comments-icon {
  position:absolute;
  right: 20px;
  top: 11px;
  font-size: 28px;
}
.comment-title h5 {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
}
.comment-writenew {
  z-index: 2;
  color: #333;
  background-color: #f8f9fa;
  border: 1px solid rgba(0,0,0,.125);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  padding: 1.25rem 1.25rem;
  margin-top:10px;
  position: relative;
}
.comment-writebody {
  border:1px solid rgba(0,0,0,.125);
  background: #f8f9fa;
  padding: 1.25rem 1.25rem;
  border-top: 0;
  margin-bottom:20px;
}
.comment-writebody input[type="text"] {
  background: none;
  width:100%;
  padding:10px 10px;
  border:1px solid #ccc;
  margin:5px 0;
}
.comment-writebody textarea {
  background: none;
  width:100%;
  padding:10px 10px;
  border:1px solid #ccc;
  margin:5px 0;
}
.comment-writebody input[type="submit"] {
  width:100%;
  padding:10px 10px;
  border:1px solid #ccc;
  margin:5px 0;
}
.comment-writenew h5 {
  margin: 0;
  margin-top:1px;
  font-weight: 800;
  font-size: 20px;
}
.comment-list {
  list-style:none;
  padding: 0;
  margin: 0;
}
.comment-list li {
  border: 1px solid #eee;
  border-top:0;
  padding:20px 20px;
  position: relative;
}
.comment-delete {
  position: absolute;
  top:0;
  right:0px;
  color:#dc3545;
  font-size:20px;
}
.comment-delete .btn-delete {
  color: #dc3545;
  background: none;
  border: 0;
  cursor: pointer;
}
.post-body {
  padding: 10px;
  line-height: 1.75em;

  margin-top:10px;
}
.comment-score {
  position: absolute;
  right: 0;
  top: 0;
}
.comment-score i {
  font-size:18px;
}
.category-radio {
  padding: 0;
  margin: 0;
}
.category-radio li {
  display: inline-block;
  margin-right: 15px;
}
.category-radio li input {
margin-right: 5px;
}
.form-write {
  padding:0px;
}
.write-details input {
  width: 100%;
  border:0;
}
.write-details input[name="write-title"] {
  font-size:42px;
  font-weight: 800;
  margin-top: 10px;
}
.write-details input[name="write-name"] {
  font-size:32px;
  font-weight: 600;
}
.write-body textarea {
  width: 100%;
  font-size: 32px;
  border: 0;
  font-family: "Times New Roman", serif;
}
.write-category-title {
  display: inline-block;
  color:#666;
}
.category-radio {
  display:inline-block;
  margin-left: 15px;
}
.write-category {
  margin-top: 10px;
}
.form-write input[type="submit"] {

}
.user-image {
  background-color: #80bdff;
  height: 44px;
  width: 44px;
  top: 0px;
  margin-top: 3px;
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #80bdff,
    #80bdff 10px,
    #5ba9ff 10px,
    #5ba9ff 20px
  );
  border-radius: 40px;
  float:left;
  margin-right: 10px;
}
.user-details {
  margin-top: 10px;
}
.user-nickname {
  font-size: 15px;
  color:#aaa;
}
.user-details input[type="text"] {
  border: 0;
  font-weight: 800;
}
.category-radio label {
  border: 1px solid #eee;
    padding: 10px;
    border-radius: 3px;
}
.btn-vote {
  border:1px solid #ccc;
  background:none;
  border-radius:3px;
}
